/* Enter your custom styles here */
html, body {
  text-align:center;
}
body {
  background: #ededeb;
}
.device-div {
  padding-left: 40px;
  display: inline-block;
}
.truck-head-div {
  display: flex;
}
.truck-bottom-div {
  display: flex;
}
.truck {
}
.measure-div {
  display: block;
  margin-top: 20px;
  flex: 0;
  text-align: left;
  white-space: nowrap;
}